OrdersService.Core/Connected Services/OrderService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderDto" nillable="true" type="tns:OrderDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderDto" nillable="true" type="tns:ArrayOfOrderDto" />
  <xs:complexType name="OrderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStatus" type="tns:OrderStatusDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderDto" nillable="true" type="tns:OrderDto" />
  <xs:simpleType name="OrderStatusDto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pending" />
      <xs:enumeration value="AwaitingPayment" />
      <xs:enumeration value="AwaitingFulfillment" />
      <xs:enumeration value="AwaitingShipment" />
      <xs:enumeration value="AwaitingPickup" />
      <xs:enumeration value="PartiallyShipped" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Shipped" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Declined" />
      <xs:enumeration value="Refunded" />
      <xs:enumeration value="Disputed" />
      <xs:enumeration value="ManualVerificationRequired" />
      <xs:enumeration value="PartiallyRefunded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderStatusDto" nillable="true" type="tns:OrderStatusDto" />
  <xs:complexType name="ArrayOfItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDto" nillable="true" type="tns:ItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemDto" nillable="true" type="tns:ArrayOfItemDto" />
  <xs:complexType name="ItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDto" nillable="true" type="tns:ItemDto" />
  <xs:complexType name="CustomerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerDto" nillable="true" type="tns:CustomerDto" />
  <xs:complexType name="ArrayOfOrderItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderItemDto" nillable="true" type="tns:OrderItemDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderItemDto" nillable="true" type="tns:ArrayOfOrderItemDto" />
  <xs:complexType name="OrderItemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderItemDto" nillable="true" type="tns:OrderItemDto" />
  <xs:complexType name="CreateOrderModelDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerDto" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfOrderItemDto" />
      <xs:element minOccurs="0" name="OrderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateOrderModelDto" nillable="true" type="tns:CreateOrderModelDto" />
</xs:schema>