OrdersService.Core/Connected Services/OrderService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6566/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" />
  <xs:element name="BaseRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrdersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="Orders" nillable="true" type="q1:ArrayOfOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSuccess" type="xs:boolean" />
  <xs:element name="Message" nillable="true" type="xs:string" />
  <xs:element name="ItemsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="Items" nillable="true" type="q2:ArrayOfItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomersListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="Customers" nillable="true" type="q3:ArrayOfCustomerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderId" type="xs:int" />
  <xs:element name="OrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="CustomerDetails" nillable="true" type="q4:CustomerDto" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="Items" nillable="true" type="q5:ArrayOfOrderItemDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerOrdersRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerId" type="xs:int" />
  <xs:element name="CustomerOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="CustomerOrders" nillable="true" type="q6:ArrayOfCustomerOrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOrderRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" minOccurs="0" name="CreateOrderModel" nillable="true" type="q7:CreateOrderModelDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>