OrdersService.Core/Connected Services/OrderService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOrderService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:6566/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:6566/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6566/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrdersService.Common.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BaseRequest">
    <wsdl:part name="parameters" element="tns:BaseRequest" />
  </wsdl:message>
  <wsdl:message name="OrdersListResponse">
    <wsdl:part name="parameters" element="tns:OrdersListResponse" />
  </wsdl:message>
  <wsdl:message name="OrdersListResponse_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="ItemsListResponse">
    <wsdl:part name="parameters" element="tns:ItemsListResponse" />
  </wsdl:message>
  <wsdl:message name="ItemsListResponse_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="CustomersListResponse">
    <wsdl:part name="parameters" element="tns:CustomersListResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersListResponse_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="GetOrderDetailsRequest">
    <wsdl:part name="parameters" element="tns:GetOrderDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="GetOrderDetailsRequest_Headers">
    <wsdl:part name="OrderId" element="tns:OrderId" />
  </wsdl:message>
  <wsdl:message name="OrderDetailsResponse">
    <wsdl:part name="parameters" element="tns:OrderDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="OrderDetailsResponse_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="GetCustomerOrdersRequest">
    <wsdl:part name="parameters" element="tns:GetCustomerOrdersRequest" />
  </wsdl:message>
  <wsdl:message name="GetCustomerOrdersRequest_Headers">
    <wsdl:part name="CustomerId" element="tns:CustomerId" />
  </wsdl:message>
  <wsdl:message name="CustomerOrdersResponse">
    <wsdl:part name="parameters" element="tns:CustomerOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerOrdersResponse_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="RemoveOrderRequest">
    <wsdl:part name="parameters" element="tns:RemoveOrderRequest" />
  </wsdl:message>
  <wsdl:message name="RemoveOrderRequest_Headers">
    <wsdl:part name="OrderId" element="tns:OrderId" />
  </wsdl:message>
  <wsdl:message name="BaseResponse">
    <wsdl:part name="parameters" element="tns:BaseResponse" />
  </wsdl:message>
  <wsdl:message name="BaseResponse_Headers">
    <wsdl:part name="IsSuccess" element="tns:IsSuccess" />
    <wsdl:part name="Message" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="AddOrderRequest">
    <wsdl:part name="parameters" element="tns:AddOrderRequest" />
  </wsdl:message>
  <wsdl:portType name="IOrderService">
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllOrders" name="BaseRequest" message="tns:BaseRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllOrdersResponse" name="OrdersListResponse" message="tns:OrdersListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllItems" name="BaseRequest" message="tns:BaseRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllItemsResponse" name="ItemsListResponse" message="tns:ItemsListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetAllCustomers" name="BaseRequest" message="tns:BaseRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetAllCustomersResponse" name="CustomersListResponse" message="tns:CustomersListResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetOrderDetails" name="GetOrderDetailsRequest" message="tns:GetOrderDetailsRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetOrderDetailsResponse" name="OrderDetailsResponse" message="tns:OrderDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/GetCustomerOrders" name="GetCustomerOrdersRequest" message="tns:GetCustomerOrdersRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/GetCustomerOrdersResponse" name="CustomerOrdersResponse" message="tns:CustomerOrdersResponse" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/RemoveOrder" name="RemoveOrderRequest" message="tns:RemoveOrderRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/RemoveOrderResponse" name="BaseResponse" message="tns:BaseResponse" />
    </wsdl:operation>
    <wsdl:operation name="AddNewOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderService/AddNewOrder" name="AddOrderRequest" message="tns:AddOrderRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderService/AddNewOrderResponse" name="BaseResponse" message="tns:BaseResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOrderService" type="tns:IOrderService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOrderService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetAllOrders" style="document" />
      <wsdl:input name="BaseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrdersListResponse">
        <soap12:header message="tns:OrdersListResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:OrdersListResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetAllItems" style="document" />
      <wsdl:input name="BaseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ItemsListResponse">
        <soap12:header message="tns:ItemsListResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:ItemsListResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetAllCustomers" style="document" />
      <wsdl:input name="BaseRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CustomersListResponse">
        <soap12:header message="tns:CustomersListResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:CustomersListResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetOrderDetails" style="document" />
      <wsdl:input name="GetOrderDetailsRequest">
        <soap12:header message="tns:GetOrderDetailsRequest_Headers" part="OrderId" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OrderDetailsResponse">
        <soap12:header message="tns:OrderDetailsResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:OrderDetailsResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/GetCustomerOrders" style="document" />
      <wsdl:input name="GetCustomerOrdersRequest">
        <soap12:header message="tns:GetCustomerOrdersRequest_Headers" part="CustomerId" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CustomerOrdersResponse">
        <soap12:header message="tns:CustomerOrdersResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:CustomerOrdersResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/RemoveOrder" style="document" />
      <wsdl:input name="RemoveOrderRequest">
        <soap12:header message="tns:RemoveOrderRequest_Headers" part="OrderId" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponse">
        <soap12:header message="tns:BaseResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:BaseResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderService/AddNewOrder" style="document" />
      <wsdl:input name="AddOrderRequest">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponse">
        <soap12:header message="tns:BaseResponse_Headers" part="IsSuccess" use="literal" />
        <soap12:header message="tns:BaseResponse_Headers" part="Message" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="NetTcpBinding_IOrderService" binding="tns:NetTcpBinding_IOrderService">
      <soap12:address location="net.tcp://localhost:6565/OrderService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:6565/OrderService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>